body{
    background-image: url(doodle.png);
}
.copy_right_footer{
    position: fixed;
    width: 100%;
    background-color: rgb(234, 153, 180);
    color: rgb(89, 79, 67);
    text-align: center;
    bottom: 0;
    line-height: 2;
}

.header{
    font-size: 23px;
    color: rgb(243, 235, 164);
    width: 100%;
    margin: 0px;
    box-shadow: 10px, 10px, 10px, rgb(190, 0, 136);
}

.note{
    color: rgb(84, 76, 63);
    font-size: 15px;
}

canvas{
    border: 5px solid;
    color: rgb(118, 95, 160);
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgb(197, 163, 114);
}

video{
    margin-left: 100px;
    margin-right: 50px;
}
